.carousel {
  height: auto;
  width: 100vw;
  
}

.carousel-heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  width: 76vw;
  object-fit: cover;
}

.carousel-image{
  /*filter: brightness(45%);*/
  /*height: 94vh;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(45%);
  overflow: hidden;
  height: auto;
  max-height: 92vh;
  min-height: 500px;
  object-fit: cover;
}

#carousel-title{
  filter: brightness(100%);
  font-size: 4em;
  color: white;
  margin: 0 0 8px;
}

.carousel-description{
  filter: brightness(100%);
  color: white;
  font-size: 1.2em;
}