.overdiv{
    background-image: linear-gradient(white, #CFF2FF);
    overflow: auto;
}
.overdiv-2{
    background-image: linear-gradient(white, #e5fbe5);
    overflow: auto;
}

.alt-2{
    opacity: 0.5;
    background-color: slategray;
}

.article{
    margin-top: 20px;
    margin-bottom: 40px;
}
.heading{
    margin-top: 10px;
    text-align: center;
}

.article-image{
    object-fit: cover;
    border-radius: 0.6em;
}

@media only screen and (max-width: 768px) {
    .article-image {
      max-height: 50vh;
    }
  }