.centered-child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  color: white;
  /*background-color: #00FFFF;*/
  text-align: center;
  justify-content: center;
  /*
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  */
}

.centered-title{
  font-size: 4em;
}

.button-container{
  text-align:center;
  position: relative;
}

.header {
  text-align: center;
}

#hello {
  display: flex;
  text-align: center;
  justify-content: center;
  top: 50%;
  margin-top: -25px;
}
/*https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/*/

/*
.child {
  width: auto;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 60px;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  
}

*/
.convention-title{
  text-align: center;
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .centered-title{
    font-size: 3em;
  }
  .convention-title{
    text-align: center;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}